@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Playfair+Display&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*,
html {
  font-family: 'Inter', sans-serif;
}

.appContainer {
  margin-top: 100px;
  margin-bottom: 79px;
  padding: 20px;
  min-height: 1000px;
}

.nnAppContainer {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
}

input,
.form-check {
  margin: 10px 0;
}

.form-label {
  margin-bottom: 0 !important;
}

h1.splash-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
}

h1.safespace {
  font-family: 'Poppins', sans-serif;
  font-size: 2.1rem;
  font-weight: 200;
}

h2 {
  font-weight: 400;
  padding: 10px 0;
}

h4 {
  margin-top: 20px;
}

h5 {
  font-weight: 300;
  padding: 20px 0;
}

nav {
  overflow: hidden;
  height: 90px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  border-bottom: 1px solid lightgray;
  z-index: 200;
}
.navbar {
  position: fixed !important;
}

.nb-fixed {
  overflow: hidden;
  height: 90px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
  z-index: 1030;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0) !important;
}

.navbar-nav > a {
  display: block;
  padding: 0.5rem 1rem;
  color: rgb(237, 52, 87);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.job-listings-link {
  display: block;
  color: rgb(237, 52, 87);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.menuExample {
  font-size: 40px;
  color: lightgray;
}

.safespace {
  color: gray;
  cursor: pointer;
}

footer {
  border-top: 1px solid lightgray;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 450px;
  background-color: white;
  color: gray;
  text-align: center;
}

.allFooterButtons {
  display: flex;
  max-width: 100%;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
  cursor: pointer;
  padding: 0 5px;
}

p.footerIcon {
  display: flex;
  justify-content: center;
  margin: 0;
}

.activeFooter > .footerBarOption > .footerIcon > .footerSvg {
  filter: invert(30%) sepia(83%) saturate(4273%) hue-rotate(333deg)
    brightness(99%) contrast(87%);
  font-weight: bold;
}

.activeFooter > .footerBarOption > .optionTitle {
  color: #ec5c44;
  font-weight: bold;
}

.footerSvg {
  height: 25px;
  margin: 13px;
}

.optionTitle {
  margin: 0;
  padding-bottom: 10px;
  font-size: 12px;
}

.appWrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
}

.line-break {
  white-space: pre-line;
}

/* Resource pages specs below */
.resourceRectangle {
  width: 100%;
  height: 141px;
  position: relative;
  text-align: center;
  border-top: 2px solid white;
}

.resourcelayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 570px;
  overflow: hidden;
  margin: -34px -20px;
}

.rscHeaders {
  margin-bottom: 15px;
  font-size: 28px;
}

@media only screen and (min-width: 500px) {
  .resourcelayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 630px;
    overflow: hidden;
    margin: -34px -20px;
  }
  .resourceRectangle {
    height: 158px;
    width: 100%;
    position: relative;
    text-align: center;
    border-top: 2px solid white;
  }
}

.bio-modal-text,
.company-text {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
}

.modal-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
}

.resolution-text > p {
  margin: 0;
  padding: 0;
}

.resolution-text {
  border-radius: 10px;
  background-color:rgba(161, 178, 167, .2);
  padding: 10px;
  margin: 15px 0;
}
