@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Playfair+Display&family=Poppins:wght@100;200&display=swap');

*,
html {
  font-family: 'Inter', sans-serif;
}

.mood-font {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  text-align: center;
  /* color: $pink; */
}

.appContainer {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
}

input,
.form-check {
  margin: 10px 0;
}

h1.splash-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
}

h2 {
  font-weight: 400;
  padding: 10px 0;
}

h4 {
  margin-top: 20px;
}

h5 {
  font-weight: 300;
  padding: 20px 0;
}

nav {
  overflow: hidden;
  height: 90px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  border-bottom: 1px solid lightgray;
  z-index: 200;
}

.menuExample {
  font-size: 40px;
  color: lightgray;
}

.safespace {
  color: gray;
  cursor: pointer;
}

footer {
  border-top: 1px solid lightgray;
  position: fixed;
  /* left: 0; */
  bottom: 0;
  width: 100%;
  max-width: 450px;
  background-color: white;
  color: gray;
  text-align: center;
}

.orderFooterOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.footerBarOption {
  border: 1px solid white;
  cursor: pointer;
}

.footerIcon {
  font-size: 29px;
  margin: 0;
  padding-top: 5px;
}

.optionTitle {
  margin: 0;
  padding-bottom: 10px;
  font-size: 12px;
  color: gray;
}

.appWrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
}
