@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

*, html {
  font-family: 'Inter', sans-serif;
}

input, .form-check {
  margin: 10px 0;
}

h2 {
  font-weight: 400;
  padding: 20px 0;
}

h5 {
  font-weight: 300;
  padding: 20px 0;
}
